.prestart-fatigue {
	width: 596px;
	margin: 0 auto;
	font-family: 'robotoregular', sans-serif;
	line-height: 1.2;
	padding: 0 50px;
	color: #58585B;
}
p{
	margin-top: 0;
}
ul{
	list-style-type: none;
	display: inline-block;
	font-size: 10px;
	line-height: 1.8;
	padding-left: 0;
}
ul.dashed, ul.decimal-leading-zero {
	margin: 0;
	font-family: 'robotoregular', sans-serif;
}
ul.dashed > li .declare, ul.decimal-leading-zero > li .declare{
	display: inline-block;
	margin-right: 10px;
}
ul.dashed > li .answer, ul.decimal-leading-zero > li .answer{
	font-family: 'robotobold', sans-serif;
}
ul.dashed > li:before {
	content: "-";
	margin-right: 3px;
}
ul.dashed > li .declare {
	min-width: 150px;
}
ul.decimal-leading-zero > li .declare{
	min-width: 110px;
}
ul.decimal-leading-zero{
	list-style-type: decimal-leading-zero;
	margin: 0;
	padding-left: 28px;
}
.font-light{

}
/*------------------------------------------------------------*/
.logo-brand{
	text-align: right;
	margin-bottom: 10px;
}
h1, h2{
	font-weight: 100;
	color: #F05A29;
	text-transform: uppercase;
}
h1{
	font-family: 'robotothin', sans-serif;
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 10px;
}
h2{
	font-family: 'robotolight', sans-serif;
	font-size: 13px;
	margin-bottom: 6px;
}
h2 .black{
	color: #231F20;
}
.vehicle{
	margin-bottom: 40px;
}
.date-time{
	border-left: 2px solid #939597;
	padding-left: 10px;
	font-size: 11px;
	font-family: 'robotolight', sans-serif;;
	color: #6D6E70;
	margin-bottom: 47px;
}
.date-time .date{
	margin-bottom: 5px;
	margin-top: -6px;
}
.personal{
	margin-bottom: 27px;
}
.block-small{
	font-size: 9px;
}
.p-l-20{
	padding-left: 20px;
}
.font-light{
	font-family: robotolight, sans-serif;
	color: #939597;
}
.answer-small{
	color: #231F20;
}
.block-small div[class*="col-"]{
	padding: 0;
}
.block-small .row:last-child div[class*="col-"]:first-child{
	min-width: 56px;
}